body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(img/foto.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.current > svg > path {
  fill: #182939;
}

.current > svg {
  width: 25px;
  height: 25px;
}

.title{
  display: flex;
  justify-content: center;
}

#imagen{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-left: 15vw;
  margin-top: -180px;
  margin-bottom: 5vh;
  width: 200px;

}

#logo{
  margin-top: -190px;
}

#t1{
  color: white;
  position: absolute;
  top: 45vh;
}

#t2 {
  color: white;
  position: absolute;
  top: 60vh;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
}

.margin{
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 7vh;
}

.menu{
  left: 17px;
  position: relative;
  top: 25px;
  z-index: 102;
  margin-right: 100vw;
}

.menu > div {
  text-align: center;
  width: 48px;
  height: 48px;
}

footer{
	width: 100%;
	height: 90px;
	background-color: grey;
	position: relative;
	bottom: 0;
  margin-top: 100px;
  display: flex;

}

footer > span {
  color: white;
  margin-top: auto;
  margin-left: 90vw;
}

.home,.login,.shop,.contact{
  text-align: center;
  width: 25px;
  height: 25px;
}
