html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	justify-content: center;
}

#fotodiv {
	width: 100%;
	height: 100%;

}

#clock{
	position: absolute;
	color: white;
	top: 100px;
	font-size: 100px;
	font-family: "Courier New", Courier, serif; 
	height: 100px;
}

.foto {
	width: 100%;
	height: 100%;
}


footer{
	width: 100%;
	height: 100px;
	background-color: grey;
	position: absolute;
	bottom: 0;

}

header{
	width: 100%;
	height: 400px;
}